pandas~=1.3.5
matplotlib~=3.5.3
folium~=0.14.0
numpy~=1.21.6
statsmodels~=0.13.5
seaborn~=0.12.2
tqdm~=4.65.0
scipy~=1.7.3
sklearn~=0.0.post5
scikit-learn~=1.0.2
requests~=2.30.0
bs4~=0.0.1
beautifulsoup4~=4.12.2